FB_APIKEY="AIzaSyDiu4jzPOFU7UX46f4mcmiRJmYNK9bXD90"
FB_AUTHDOMAIN="minislack-8faa0.firebaseapp.com"
FB_PROJECTID="minislack-8faa0"
FB_STORAGEBUCKET="minislack-8faa0.appspot.com"
FB_MESSAGINGSENDERID="548468208807"
FB_APPID="1:548468208807:web:a63838b965c043b1535782"